body {
  font-family: Arial, Helvetica;
  text-align: center;
}

#title {
  background-image: url("../images/the-flatiron-building.png");
    font-size: 30px;
  font-weight: bold;
    color: white;
}

#list {
    font-family: Helvetica;
    font-size: 18px;
    color: white;
  }

  .subjects {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  }

  .item {
    font-size: 23px;
    font-weight: bold;
  }

  .title2 {
    background-image: url("../images/the-flatiron-building.png");
    font-size: 23px;
    font-weight: bold;
    color: white;
  }

.paragraph {
  font-size: 14px;
}

#title3 {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}